SECRET_KEY=12345

MONGODB_URL=mongodb://domain:27017/dataBase
MONGODB_USER=user
MONGODB_PASS=pass

FB_CLIENT_ID=12345
FB_CLIENT_SECRET=abcd1234

G_CLIENT_ID=123-abc.apps.googleusercontent.com
G_CLIENT_SECRET=ABC-123
G_AUTH_URL=https://accounts.google.com/
G_TOKEN_URL=https://oauth2.googleapis.com/
G_CB_URL=https://domain:4443/
